
.language-switch::after {
    content: '';
    background-color: rgb(240, 246, 246); 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%; 
    transition: all 0.3s; 
    z-index: -1; 
}

.language-switch:hover::after {
    right: 0; /* عند التمرير، الخلفية تنتقل إلى اليسار، كاشفةً الخلفية */
}

.language-switch:hover {
    color: black; /* تغيير لون النص عند التمرير */
}
/* To add a smooth transition for the mobile dropdown */
/* .nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link.active {
  color: #ffcc00; 
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
}

ul {
  transition: max-height 0.3s ease-in-out;
} */
