@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }

::selection{
    background-color: var(--light-blue);
}
.active-link{
    background-color: var(--light-blue);
}
:root{
    --dark-blue:#023262;
    --light-blue:#90caf9;
}
.nav-bg{
    /* background: linear-gradient(90deg, #000000, #2f89c5); */
    /* background: linear-gradient(90deg, #023262, #00bcd4); */
    /* background: linear-gradient(90deg, #000000, #023262); */
    /* background: linear-gradient(90deg, #023262, #90caf9);  */
    /* background-color: #073e75; */
    /* background-color: #024990; */
    background-color: #133352;
    
}


body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(90deg, rgb(9, 9, 11),var(--dark-blue));
    background-repeat: no-repeat;
}

.slider-bg {
    background: #e5e7eb33;
    transition: all 0.3s;
}

.slider:hover .slider-bg {
    transform: rotateY(360deg) scale(0.8, 0.8)
}

.shadow-button,
.project-navlink {
    transition: all 0.3s;
    border: 1px solid #6885ae;
}

.shadow-button:hover,
.active-project-navlink {
    box-shadow: 0px 1px 20px rgba(141, 201, 248, 0.3);
    border: 1px solid rgba(134, 193, 239, 1);
}

.active-project-navlink {
    color: var(--light-blue);
}

.class-after,
.class-before {
    position: relative;
    padding-bottom: 13px;
}

.class-before::before,
.class-after::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40%;
    background-color: var(--light-blue);
    height: 4px;
}

.icon-color {
    color: var(--light-blue);
}

.class-before::before {
    left: 10%;
    right: 8%;
}

.main-text {
    @apply font-medium text-lg mb-4 leading-7;
}

.main-header {
    @apply text-5xl font-semibold my-5 inline-block;
}

.container {
    @apply py-16 w-5/6 m-auto;
    border-bottom: solid rgba(134, 193, 239, 0.5) 2px;
}

/* Project Section */

.project-layer {
    position: absolute;
    top: 1rem;
    bottom: 100%;
    left: 1rem;
    right: 1rem;
    /* opacity: 0.9; */
    background:  #052f59ab;
    color:white;
    font-style: italic;
    transition: all 0.4s;
}

.bg-icon {
    border:#024990 solid 2px;
    position: relative;
    top: 200%;
    z-index: 50;
    background-color:#024990;
    transition: all 0.3s;
    transition: top 0.8s;
}
.project-name{
    position: relative;
    bottom: 50%;
    transition: all 0.8s;
}

.bg-icon:hover {
    color:var(--dark-blue);
    background-color: #fff;
}

.layer-container:hover .project-layer {
    bottom: 1rem;
}
.layer-container:hover .bg-icon{
    top: 0;
}
.layer-container:hover .project-name {
    bottom: 0;
}
.form-class{
    background-color: #e5e7eb33;
    transition: all 0.5s;
    @apply  w-full my-2 py-4 rounded-2xl shadow-button px-4;
}
.form-class::placeholder{
color: white;
}
.form-class:focus{
 background-color: #fff;
 color: var(--dark-blue);
}

.form-class:focus::placeholder {
    color: var(--dark-blue); /* لون placeholder عند التركيز */
}

.form-class:focus-visible{
    outline: 0;
}
@layer base {
    html {
      font-size: 16px; /* الحجم الأساسي */
    }
    @media (max-width: 980px) {
        html {
          font-size: 15px; /* الحجم في الشاشات الصغيرة */
        }
        .container {
            width: 100% !important;
            padding: 0px;
 
          }
      }
     
  
    @media (max-width: 640px) {
      html {
        font-size: 14px; /* الحجم في الشاشات الصغيرة */
      }
      .container {
        @apply py-16 w-full m-auto px-5;
        border-bottom: solid rgba(134, 193, 239, 0.5) 2px;
    }
    
    }
  
    @media (max-width: 480px) {
      html {
        font-size: 12px; /* الحجم في الشاشات الأصغر */
      }
      .max-width{
        width: 100% !important;
      }
    }
  }
  