@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    background: linear-gradient(90deg, rgb(9, 9, 11), #023262);

}

.slider-bg{
    background: #e5e7eb33;
    transition: all 0.3s;

}

.slider:hover .slider-bg{
    transform: rotateY(360deg) scale(0.8,0.8)
}
.shadow-button {
    transition: all 0.3s;
    border: 1px solid #6885ae;
}

.shadow-button:hover {
    box-shadow: 0px 1px 20px rgba(141, 201, 248, 0.3);
    border: 1px solid rgba(134, 193, 239, 1);
}

.class-after, .class-before {
    position: relative;
    padding-bottom: 13px;
}

.class-before::before , .class-after::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40%;
    background-color: #90caf9;
    height: 4px;
}
.icon-color{
    color:#90caf9 ;
}
.class-before::before { 
    left: 10%;
    right: 8%;
}
.main-text{
    @apply font-medium text-lg mb-4 leading-7 ;
}

.main-heder{
    @apply text-5xl font-semibold my-5 inline-block ;
}
.container{
    @apply  py-16 w-5/6 m-auto ;
    border-bottom: solid rgba(134, 193, 239, 0.5) 2px;
}

