@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;

}

.bg{
    background: linear-gradient(90deg, rgb(9, 9, 11), #023262);
  
}

.shadow-button {
    transition: all 0.3s;
    border: 1px solid #6885ae;
}

.shadow-button:hover {
    box-shadow: 0px 1px 20px rgba(141, 201, 248, 0.3);
    border: 1px solid rgba(134, 193, 239, 0.5);
}

.class-after {
    position: relative;
    padding-bottom: 20px;
}

.class-after::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 40%;
    background-color: #1173d5;
    height: 5px;
    
    /* Tailwind color classes can be applied here */
}
.main-text{
    @apply font-medium text-lg mb-4 leading-7 ;
}
.main-heder{
    @apply text-5xl font-semibold my-5 class-after inline-block ;
}
.container{
    @apply  py-10 w-5/6 m-auto ;
}
.border-name{
    border-bottom: solid rgba(232, 231, 231, 0.522) 1px;
}